:root{
    --fuente: 'PT Sans';
    --fuente-parra: 'Open Sans';
    --primario: #784d3c;
    --gris: #e1e1e1;
    --blanco: #fff;
    --negro: #000;
}

html{
    box-sizing: border-box; /*hack para box model*/
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: var(--fuente-parra);
    font-size: 1.6rem;
    line-height: 2; /*interlineado*/
}

/*GLOBALES*/
.contenedor{
    /* max-width: 120rem;
    width: 90%; evita chocar a las orillas */
    width: min(90%, 120rem); /*responsiva*/
    margin: 0 auto;
}   
a{
    text-decoration: none;
    font-weight: bold;
}
h1, h2, h3, h4{
    font-family: var(--fuente);
    line-height: 1.2;
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
img{
    max-width: 100%;
}
p{
    font-size: 1.9rem;
}
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.centrar-texto{
    text-align: center;
}

/*HEADER*/
.header{
    background-image: url(../img/banner.jpg);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header__texto{
    text-align: center;
    color: var(--blanco);
    margin-top: 15rem;
}
.logo__nombre{
    font-weight: normal;
    color: var(--blanco);
}

.logo__bold{
    font-weight: bold;
}
.logo, .navegacion__enlace{
    color: var(--blanco);
    text-decoration: none;
}
.barra{
    padding-top: 2rem;
}
@media (min-width:768px){
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navegacion{
        display: flex;
        gap: 2rem;
    }

}
.navegacion__enlace{
    display: block;
    text-align: center;
    font-size: 1.8rem;
}

/* Contenido principal */
@media (min-width:768px){
    .contenido-principal{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 4rem;
    }
}
.entrada{
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}

.entrada:last-of-type{
    border: none;
    margin-bottom: 0;
}
.entrada__contenido p{
    line-height: 1.5;
}

.boton{
    display: block;
    color: var(--blanco);
    padding: 1rem;
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
    border: none;
}
.boton:hover{
    cursor: pointer;
}
.boton--primario{
    background-color: var(--negro);
    
}
@media (min-width:768px){
    .boton{
        display: inline-block;
    }
}

/* Sidebar */
.boton--secundario{
    background-color: var(--primario);
}

.cursos{
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
    list-style: none;
}
.cursos{
    padding: 0;
}
.widget-cursos__label{
    font-weight: bold;
}
.widget-cursos__info,.curso__info{
    font-weight: normal;
}
/* Nosotros */
@media (min-width:768px){
    .nosotros{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }
}

/* Cursos */
.curso{
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
    display: grid;
}
.curso:last-of-type{
    border: none;
}
/* tambien puede ir arriba */
.curso__label{
    font-weight: bold;
    font-size: var(--fuente);
}
@media (min-width:768px){
    .curso{
        grid-template-columns: 1fr 2fr;
        gap: 2rem;
    }
}
/* CONTACTO Formulario*/
.contact-img{
    background-image: url(../img/contacto.jpg);
    height: 40rem;
    background-size: cover;
}
.contact-frm{
    background-color: var(--blanco);
    margin: -5rem auto 0 auto;
    /* width: min(95%, 100%); */
    width: 95%;
    padding: 5rem;
}
.campo{
    display: flex;
}
.campo__label{
    flex: 0 0 9rem;
    padding-right: 2rem;
    text-align: right;
}
.campo__input{
    border: 1px solid var(--gris);
    padding: 1rem;
    margin-bottom: 2rem;
    width: 100%;
}
.campo__input--area{
    height: 20rem;
}
/* Footer */
.footer{
    background-color: var(--negro);
    padding: 3rem 0;
    margin-top: 2rem;
}


